
/* dark theme */
body.darktheme {
  background-color: black !important;
  color:#EEE;
}
.darktheme #network, .darktheme #editor{
  background-color:#111;
  border-color:#333;
}
.darktheme #title{
  color:#DDD;
}
.darktheme .button{
  background-color:black;
  color:#EEE;
}
.darktheme .checkText a{
  color:#FFF;
}
.darktheme .button:hover {
  color:black !important;
}
.darktheme #loadURLDialog, .darktheme .downloadInterface, .darktheme .popupMenu{
  background-color: rgba(30,30,30,.95);
  color:#EEE!important;
}
.darktheme button.disabled{
  background-color: #111;
  border-color:#333;
}
.darktheme .buttonset button, .darktheme .downloadInterface button{
  background-color: #222;
  color:#EEE;
  border-color:#CCC;
}
.darktheme .buttonset button:hover, .darktheme .downloadInterface button:hover{
  color:black;
}
.darktheme .handle{
  background-color:#222
}
.darktheme .handle:hover{
  background-color:#333;
}
.darktheme .popupMenu li:hover {
  background: rgba(200, 200, 200, 0.2);
}
.darktheme .line-error {
  background-color: #C2554E;
}
.darktheme .checkbox{
  background-color: black;
  border-color:#444;
}
.darktheme .show, .darktheme .close{
  filter: invert(1);
  -webkit-filter: invert(1);
}
.darktheme .button.top{
  border: 2px solid #EEE;
  color:#EEE;
}
.darktheme .button.top:hover {
  background-color:white !important;
  color:black !important;
}
.darktheme .navlink:hover,
.navlink:active {
    color: white;
}
/* .darktheme #executeResult.success{
  background-color: #8794AA;
}
.darktheme #result.success{
  background-color: #A3AB8E;
} */
/*  */


body {
    overflow-y: hidden;
}

#container {
    margin-top: 20px;
    width: 100%;
    height:95%;
    position:relative;
    border-top: 1px solid #eee;
}

#network {
  border: 1px solid #eee;
  position:absolute;
  width: 100%;
  height: 95%;
  background-color: #fff;
  left: 0;
  top: 0;
  bottom: 0;
}

#node-popUp {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    margin:-10px;
    z-index: 20;
    width: 40px;
    height: 20px;
    padding: 0;
    text-align: center;
}
#node-popUp input {
  width:100px !important;
}

#node-popup input:focus, #node-popup:focus{
  outline: none;
}

.downloadInterface {
  width: 400px;
  height:70px;
  border: 1px solid #c0c0c0;
  padding: 0px 10px;
  margin: auto;
  position: relative;
  top: 80px;
  left: 0px;
  padding:20px;
  display: none;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.95);
}
.downloadInterface input {
  width:40px;
  max-width:120px;
  margin-top:4px;
}
.downloadInterface input:focus{
  outline: none;
}
.downloadInterface button {
  display: block;
  float:right;
}
.popupMenu{
  display:none;
  position:absolute;
  background-color: #eee;
  font-size: 12px;
  border-radius: 4px;
  padding:4px 0;
  border:1px solid #AAA;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.1);
}
.popupMenu li {
  padding: 0 3px;
  cursor: pointer;
  list-style-type: none;
}
.popupMenu li:hover {
  background: rgba(0, 0, 0, 0.2);
}
#editor {
  right: 0;
  top: 0;
  bottom: 0;
  position:absolute;
  height:95%;
  background: white;
  border: 1px solid #eee;
}
}
#chatLabel {
  margin:10px 0 0 10px;
  font-weight: 400;
}
#chatLabel:focus {
  outline:none;
}
.showNetwork {
  position:absolute;
  left:0;
  top:0;
  width:30px;
  height:30px;
  background-repeat:no-repeat;
  cursor:pointer;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  /* display: none; */
}
.hidden {
  width:24px !important;
}
#editor .close {
 opacity: .5;
 position:absolute;
 top:0;
 width:10px;
 height:10px;
 margin:7px;
 background-repeat:no-repeat;
 background-image:url(close.svg);
 cursor:pointer;
 -webkit-touch-callout:none;
 -webkit-user-select:none;
 -khtml-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}

.show{
  opacity: .6;
  position:absolute;
  top:0;
  width:8px;
  height:8px;
  margin:8px;
  background-repeat:no-repeat;
  background-image:url(close.svg);
  cursor:pointer;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  display:none;

  transform: rotate(45deg);
  transition: all 500ms;
}
.show:hover, .close:hover {
  opacity:1 !important;
}
#editor-close, #editor-show{
 right:0;
}
#network-close, #network-show{
 left:-24px;
}
#drag{
    position: absolute;
    width: 8px;
    height: 100%;
    cursor: ew-resize;
    z-index: 10;
    top: 0;
    bottom: 0;
}
.CodeMirror {
    border: 1px solid #eee;
    line-height: 16px;
}

.CodeMirror-sizer{
  margin-left: 30px !important;
}

.CodeMirror-gutters {
    height: 100% !important; /* fix the gutter issue*/
}
/*additional theme*/
.CodeMirror .cm-command, .CodeMirror .cm-command-chat {
    font-weight: bold;
}
.cm-s-twilight .cm-command, .cm-s-twilight .cm-command-chat {
  color:#D8D8D8;
}

.cm-s-default .cm-actor {
    color: #a06a34; /*brown*/
}
.cm-s-twilight.CodeMirror{
  background: #1C1E1F !important;
}
/* Normal lines*/
.cm-s-twilight .CodeMirror-line {
  color:#E0E2E1;
}


.cm-s-twilight .cm-actor {
    color: #9F79A4;/* purple */
}



.cm-s-default .cm-group {
    color: #007900; /*dark green*/
}
.cm-s-twilight .cm-group {
    color: #A1C870; /*light green*/
}

.cm-s-default .cm-html{
  color:#ff69b4; /*pink*/
}
.cm-s-twilight .cm-html{
  color:#87289C; /*pink*/
}

.cm-s-default .cm-variable {
    color: #B300B3; /*green*/
}
.cm-s-twilight .cm-variable {
    color: #00c548; /*green*/
}


.cm-s-default .cm-transformation {
    color: #8b0000; /*dark red*/
}
.cm-s-twilight .cm-transformation {
    color: #EFEB4D;
}

.cm-s-default .cm-metadata {
    color: orange;
}
.cm-s-twilight .cm-metadata {
    color: #61AEEF;
    /* light blue */
}
.cm-s-default  .cm-key {
    color: #005cc5;  /*blue*/
}
.cm-s-twilight  .cm-key {
    color: #D19966;
    /* orange */
}
.cm-s-default .cm-value {
    color: #00c548; /*blue*/
}
.cm-s-twilight .cm-value {
    color: #1FC3B5 ;
}

.cm-s-default .cm-label, .cm-s-default .cm-operator{
    color: #d73a49; /*red*/
}
.cm-s-twilight .cm-operator, .cm-s-twilight .cm-label{
    color: #B15862; /*red*/
}

.CodeMirror .cm-comment {
    color: grey;
}


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif !important;
    min-width:930px;
}
#navbar {
    line-height: 42px;
    font-size: 14px;
    margin:10px;
    height: 30px;
}

.input-area {
    margin-top: 5px !important;
}

#result-container pre {
    width: 95%;
    margin-left: 13px;
    min-width: 620px;
    overflow: auto;
}

#executeResult {
    border: 1px solid transparent;
    padding: 0.8em;
}

#executeResult:empty {
    display: none;
}

#executeResult.success {
    background: #c3d4ef;
    color: #144594;
    border-color: #7ea0d7;
}

#executeResult.error {
    background: #FBE3E4;
    color: #D12F19;
    border-color: #FBC2C4;
}

pre#executeResult {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

#loadURLDialog {
    width: 500px;
    border: 1px solid #c0c0c0;
    padding: 10px 20px;
    margin: auto;
    position:relative;
    top: 80px;
    left: 0px;
    display: none;
    z-index:50;
    background-color: rgba(255, 255, 255, 0.95)
}
.CodeMirror-dialog-top {
  padding:2px;
  margin-bottom: 5px;
  letter-spacing: .5px;
}
.CodeMirror-dialog-bottom {
  border:none;
  margin-right: -20px;
}
#navbar button, #navbar .wrapper{
  float:right;
}
#navbar .wrapper {
  width:120px;
}
#closeDialog {
    float: right;
}

#loadPathDiv input {
    margin: 8px 0;
    font-size: 14px;
    width: 100% !important;
    font-family: sans-serif;
    color: grey;
}
#urlPath {
  border:solid 1px #ddd;
  padding: 4px;
}
.buttonset {
  padding: 8px 0;
}
button:disabled {
    opacity: .5;
}

button:disabled:hover {
    background: white !important;
}

.navlink:link,
.navlink:visited {
    text-decoration: none;
    font-size: 12px;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    color: grey;
    line-height: 49px;
}

.navlink:hover,
.navlink:active {
    color: #E95978
}

.button:hover,
button[type="button"]:hover {
    background: #f3f3f3;
}

p.navlinks {
    margin-left: 185px;
}

#button-div {
    height:28px;
    margin: 20px 10px;
    padding:0 !important;
    overflow-x: auto;
    overflow-y: hidden;
}

#title {
    font-family: Gill Sans, sans-serif;
    font-size: 24px;
    margin-left: -3px;
    margin-right: 50px;
}

#fish {
    margin-top: 5px;
    margin-left: 0px;
}

linedwrap {
    width: 95% !important;
    min-width: 700px;
    margin-left: 13px;
}

#main {
    width: 90% !important;
}

.checkbox {
    margin-left: 3px;
    margin-top: 8px;
    margin:6px 0 0 3px;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.checkbox:active,
.checkbox:checked:active {
    border: 1px solid #cacece;
}

input[type="checkbox"]:focus {
    outline: 0;
}

.checkbox:checked {
    color: #99a1a7;
    border: 1px solid #cacece;
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 2px;
    color: #99a1a7;
}
#navbar .wrapper{
  margin-top: 10px;
}

.checkText {
    margin-left: 8px;
    display: inline-block;
    position: relative;
    font-size: 12px;
    line-height: 30px;
}

.checkText a {
    color: black;
}

.button,
button[type="button"] {
    cursor: pointer;
    background-color: #fff;
    padding: 3px 15px !important;
    text-decoration: none !important;
    border: 1px solid #e1e1e1;
    font-size: 14px !important;
    font-family: Open Sans, sans-serif !important;
    font-weight: 500 !important;
    color: #333;
    margin: 0px 20px 0 0 !important;
}
button:focus, canvas:focus, div:focus{
  outline:0;
}

.button.top{
  border: 2px solid #E24660;
  color:#E24660;
  font-size: 16px;
  font-weight: 600 !important;
  margin-top: 9px !important;
}

.button.top:hover {
  background-color:#E24660;
  color:white;
}

.handle {
    margin-top: -15px;
    background: #f7f7f7;
    height: 20px;
    user-select: none;
    cursor: row-resize;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.handle:before {
    content: '\2261';
    /* https://en.wikipedia.org/wiki/Triple_bar */
    color: #999;
    position: absolute;
    left: 50%;
}

.handle:hover {
    background: #f0f0f0;
}

.handle:hover:before {
    color: #000;
}
