[Unit]
Description=DialogicEditor Service
After=network.target network-online.target

[Service]
SyslogIdentifier=dialogic-editor
WorkingDirectory=/var/www/html/dialogic-gh/editor
ExecStart=/usr/bin/dotnet bin/Debug/netcoreapp2.0/DialogicEditor.dll "rednoise.org"
TimeoutSec=30
Restart=always
RestartSec=10
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target