<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Label</key>
<string>org.rednoise.dialogic.editor</string>
<key>ProgramArguments</key>
array>
<string>/path/to/app/or/script/XXX</string>
</array>
<key>RunAtLoad</key>
<true/>
<key>KeepAlive</key>
<true/>
<key>StandardErrorPath</key>
<string>/tmp/org.rednoise.weblint.err</string>
<key>StandardOutPath</key>
<string>/tmp/org.rednoise.weblint.out</string>
</dict>
</plist>
